* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.logo {
  width: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-image {
  width: 100px;
}
.fa-chevron-down {
  font-size: 12px;
  font-weight: 500;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.category {
  width: 80px;
  position: relative;
  display: inline-block;
  text-align: right;
  color: black;
  font-weight: 600;
}
.fa-table {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 3px;
  font-weight: 600;
}
.category-pc {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.focus {
  list-style: none;
}
.list {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.btn {
  background-color: rgba(0, 0, 255, 0.659);
  color: white;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
}
.home-menu {
  display: none;
}
.home:hover .home-menu {
  display: block;
}
.course-menu {
  display: none;
}
.course:hover .course-menu {
  display: block;
}
.dashboard-menu {
  display: none;
}
.dashboard:hover .dashboard-menu {
  display: block;
}
.page-menu {
  display: none;
}
.page:hover .page-menu {
  display: block;
}
.element-menu {
  display: none;
}
.element:hover .element-menu {
  display: block;
}
.blog-menu {
  display: none;
}
.blog:hover .blog-menu {
  display: block;
}
