ul li {
  position: relative;
  list-style: none;
}

ul li::before {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  left: -30px;
  background-image: url(../image/thoi.png);
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
}
